<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="choose-cleanse"></ion-back-button>
    </ion-buttons>
    <div class="toolbarLogo">
      <img src="../../../assets/banner.png" width="250" height="100">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content align="center" class = "padding">
  <h2>Number of Days:</h2>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let entry of days">
        <div [class]="entry.class" class="padding" (click)="itemClicked(entry, days)">
          {{entry.day}}
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3>Choose Start Date</h3>
  <div style="background-color:rgb(253, 249, 241);">
    <ion-item style="background-color:rgb(253, 249, 241);">
      <ion-label style="background-color:rgb(253, 249, 241);" position="floating" class = "funFont">DD/MM/YYYY</ion-label>
      <ion-datetime style="background-color:rgb(253, 249, 241);" displayFormat="DD/MM/YYYY" class = "funFont" placeholder="Select Date" min={{minDate}} [(ngModel)]="startDate"></ion-datetime>
    </ion-item>
    <p>We require one full day to prepare all cleanses as all of our ingredients must be source freshly and juices made to order.</p>
  </div>
    
  <ion-button (click)="navBoosters()">Continue</ion-button>
</ion-content>
