ion-icon {
   font-size: 20px;
}

ion-card{
   background:  rgb(253, 249, 241); 
}

.funFont { 
   font-family: "Comic Sans MS";
}

ion-content {
   --background: none;
   background-image: url('../../assets/background.jpeg');
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
}

.padding {
   font-family: "Comic Sans MS";
   background: white;
   padding: 5%;
}

.crop {
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.crop img {
   width: 100%;
   height: 100%;
   margin: -30% 0 -25% 0;
}

.container {
   position: relative;
   text-align: center;
   color: black;
}

.centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 300%;
   font-family: "Comic Sans MS";
}
