ion-icon {
  font-size: 300%;
  color:lightblue;
}

ion-content {
  --ion-background-color: rgb(253, 249, 241);
}

ion-button {
  --background: #CA2874;
}

.ion-color-gold {
  --ion-color-gold: #ffd700;
}

.toolbarLogo {
  position: relative;
  margin: auto;
  margin-left: 15%;
}

.timeFont {
  font-family: "Comic Sans MS";
  color: lightblue;
  font-size: 25px;
}