<ion-header>
  <ion-toolbar>
    <div align="center" style="padding-top: 2%">
      <img src="../../assets/banner.png" width="250" height="100">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center">
    <h4>Do you need cleanse reminders?</h4>
    <div>
      <ion-button *ngIf= "displayRecieve" (click)="enableNotifications()">Turn On</ion-button>
      <ion-button *ngIf="displayCancel" (click)="disableNotifications()">Turn Off</ion-button>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let entry of entries1">
        <div (click)="click(entry.time, entries1)" align="center">
          <font size="5px" face="Comic sans MS">{{entry.time}}</font>
          <br>
          <ion-icon name="{{entry.icon}}"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let entry of entries2">
        <div (click)="click(entry.time, entries2)" align="center">
          <font size="5px" face="Comic sans MS">{{entry.time}}</font>
          <br>
          <ion-icon name="{{entry.icon}}"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding" align="center">
    <font face="Comic sans MS">
      <div *ngFor="let entry of entries" (click)="click(entry.time)">
        <font size="5px" face="Comic sans MS">{{entry.time}}</font>
        <br>
        <ion-icon name="{{entry.icon}}"></ion-icon>
      </div>

      <div style="margin-bottom: 10%">
        <h2>End of the Day</h2>
        <p></p>
      </div>

      <div>
        <p></p>
        <p></p>
        <h4>How are you feeling?</h4>
        <ion-item>
          <ion-range min="0" max="10" step="1" color="secondary" [(ngModel)]="happiness">
            <ion-icon size="small" slot="start" name="sad"></ion-icon>
            <ion-icon slot="end" name="happy"></ion-icon>
          </ion-range>
        </ion-item>
        <p></p>
        <h4>What is your energy level?</h4>
        <ion-item>
          <ion-range min="0" max="10" step="1" color="secondary" [(ngModel)]="energy">
            <ion-icon size="small" slot="start" name="moon"></ion-icon>
            <ion-icon slot="end" name="sunny"></ion-icon>
          </ion-range>
        </ion-item>
        <h4>How satisfied are you with your digestion?</h4>
        <ion-item>
          <ion-range min="0" max="10" step="1" color="secondary" [(ngModel)]="digestion">
            <ion-icon size="small" slot="start" name="thumbs-down"></ion-icon>
            <ion-icon slot="end" name="thumbs-up"></ion-icon>
          </ion-range>
        </ion-item>
        <p></p>
        <ion-button (click)="summary()">Complete Day</ion-button>
      </div>

      <div *ngIf="endOfDay">
        <p></p>
          Congratulations, You Made it!
          <p></p>
          <div>
            You completed {{percentage}}% of your juices today
            <p></p>
            <ion-progress-bar color="secondary" width="200%" value="{{progress}}"></ion-progress-bar>
            <p></p>
          </div>
          <div>
            {{hapMessage}}
            <p></p>
            {{engMessage}}
            <p></p>
            {{digMessage}}
          </div>
      </div>
    </font>
  </div>
</ion-content>