<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="survey-type"></ion-back-button>
    </ion-buttons>
    <div class="toolbarLogo">
      <img src="../../assets/banner.png" width="250" height="100">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <ion-grid align="center">
    <div class="padding">
      <h2>Level Of Difficulty</h2>
      <ion-row>
        <ion-col *ngFor = "let level of levels">
          <div [class]="level.class" (click)="itemClicked(level, levels)">
            <ion-icon name={{level.iconName}}></ion-icon>
            <br>
            {{level.name}}
            <p></p>
          </div>
        </ion-col>
      </ion-row>
      <p></p>
      <p></p>
    </div>

    <div class="padding">
      <h2>Type Of Nourishment</h2>
      <ion-row>
        <ion-col *ngFor = "let type of types">
          <div [class]="type.class" (click)="itemClicked(type, types)">
            <ion-icon name={{type.iconName}}></ion-icon>
            <br>
            {{type.name}}
            <p></p>
          </div>
        </ion-col>
      </ion-row>
      <p></p>
      <p></p>
    </div>

    <div class="padding">
      <h2>Main Focus</h2>
      <ion-row>
        <ion-col *ngFor = "let mainflow of mainflows">
          <div [class]="mainflow.class" (click)="itemClicked(mainflow, mainflows)">
            <ion-icon name={{mainflow.iconName}}></ion-icon>
            <br>
            {{mainflow.name}}
            <p></p>
          </div>
        </ion-col>
      </ion-row>
      <p></p>
      <p></p>
    </div>
  </ion-grid>
  <ion-button expand="full" (click)="submit()">Submit</ion-button>
</ion-content>