ion-chip {
  width: 200px;
  height: auto;
}

ion-back-button {
  font-family: "Comic Sans MS";
  --color: #CA2874;
}

ion-content{
  --ion-background-color: rgb(253, 249, 241);
}

ion-grid{
  --ion-background-color: rgb(253, 249, 241);
}

ion-icon {
  font-size: 500%;
  color:lightblue;
}

ion-button {
  font-family: "Comic Sans MS";
  --background: #CA2874;
}

ion-grid {
  ion-row {
    height: 500%;
    border-width: 200%;
  }
  ion-col {
    border-width: 200%;
  }
}

.toolbarLogo {
  position: relative;
  margin: auto;
  margin-left: 3%;
  padding-top: 2%;
}

.padding {
  font-family: "Comic Sans MS";
  padding: 2%;
}

.subtitle {
  font-family: "Comic Sans MS";
  color: #9A9A9A;
  padding: 5%;
}

.padText {
  font-family: "Comic Sans MS";
  padding: 5%;
}

.border{
  border: none;
  border-color: black;
  border-width: 1px;
}

.border-active{
  border-radius: 25px;
  border: solid;
  border-color: lightblue;
  border-width: 5px;
}

