<ion-header>
  <ion-toolbar>
    <div align="center" style="padding-top: 2%">
      <img src="../../assets/banner.png" width="250" height="100">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div (click)="navToCleanses()">
    <div class="has-overlay"></div>
    <div class="container">
      <img class="container-img"
        src="https://cdn.shopify.com/s/files/1/0053/0061/7314/files/NOURISHED_SILLY_SEASON_CLEANSE_15.01.2019-131_2048x.JPG?v=1551281664" />
      <div class="centered">Cleanses</div>
    </div>
  </div>
  <div class="container" (click)="presentComingSoon()">
    <!-- alternate Nourish'd Image https://cdn.shopify.com/s/files/1/0053/0061/7314/files/untitled-19_1500x.progressive_fc2aeec3-dd87-41f3-861e-5b5e55cf4a35_1400x.progressive.jpg?v=1542644485 -->
    <img class="container-img" src="../../assets/mealplan.jpg" alt="image">
    <div class="centered">Meal Plans</div>
  </div>
  <div class="container" (click)="navToDetails()">
    <img class="container-img" src="https://learntruehealth.com/wp-content/uploads/zero-waste-living4.png" alt="image">
    <div class="centered">Create a Customized Program</div>
  </div>
  <div class="container" (click)="navToSurvey()">
    <img class="container-img" src="../../assets/survey.JPG" alt="image">
    <div class="centered">Take Our Survey</div>
  </div>
</ion-content>