<ion-tabs color="secondary">
  <ion-tab-bar slot="bottom">
    <ion-tab-button  tab="store">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Store</ion-label>
    </ion-tab-button>

    <ion-tab-button color="secondary" tab="explore">
      <ion-icon name="ios-bulb"></ion-icon>
      <ion-label>Learn</ion-label>
    </ion-tab-button>

    <ion-tab-button color="secondary" tab="track-progress">
      <ion-icon name="person"></ion-icon>
      <ion-label>Tracker</ion-label>
    </ion-tab-button>

    <ion-tab-button color="secondary" tab="cart">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
