<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="program-details"></ion-back-button>
    </ion-buttons>
    <div class="toolbarLogo">
      <img src="../../../assets/banner.png" width="250" height="100">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <font face="Comic sans MS">
  <div class="descPadding">
      <h2 align="center">Add Boosters</h2>
    <span [innerHTML]="sanitizer.bypassSecurityTrustHtml(boosterInfo)"></span>
    <p>By selecting a booster, the number of boosters added will automatically correpond to the number of days of your cleanse</p>
  </div>
  <div align="center">
      <ion-button (click)="navCart()">Continue Without Boosters</ion-button>
  </div>
  <ion-grid align="center">
    <div class="padding">
      <h2>Click a Type to Explore</h2>
      <ion-row>
        <ion-col *ngFor = "let type of types">
          <div [class]="type.class" (click)="itemClicked(type, types)">
            <ion-icon name={{type.iconName}}></ion-icon>
            <br>
            {{type.name}}
            <p></p>
          </div>
        </ion-col>
      </ion-row>
      <p></p>
      <p></p>
    </div>
  </ion-grid>

  <div *ngIf="shotClicked">
    <ion-card text-left id={{booster.id}} (click)="pickBooster(booster.id)" *ngFor="let booster of shortBoosters; let i = index">
          <ion-slide>
              <div class="crop">
                  <img src={{booster.images[0].src}} />
              </div>
            </ion-slide>
            <ion-card-header>
              <ion-card-title class="funFont">{{booster?.title}}</ion-card-title>
              <div class="padding">
                <span [innerHTML]="sanitizer.bypassSecurityTrustHtml(descriptionHtml[i])"></span>
              </div>
            </ion-card-header>
    </ion-card>
  </div>
  </font>

  <font face="Comic sans MS">
    <div *ngIf="juiceClicked">
    <ion-card text-left id={{booster.id}} (click)="pickBooster(booster.id)" *ngFor="let booster of tallBoosters; let i = index">
      <ion-slide>
        <div class="tallCrop">
          <img src={{booster.images[0].src}} />
        </div>
      </ion-slide>
      <ion-card-header>
        <ion-card-title class="funFont">{{booster?.title}}</ion-card-title>
        <div class="padding">
          <span [innerHTML]="sanitizer.bypassSecurityTrustHtml(tallDescriptionHtml[i])"></span>
        </div>
      </ion-card-header>
    </ion-card>
  </div>
  </font>

  <font face="Comic sans MS">
    <div *ngIf="brothClicked">
    <ion-card text-left id={{booster.id}} (click)="pickBooster(booster.id)" *ngFor="let booster of brothBoosters; let i = index">
      <ion-slide>
        <div class="brothCrop">
          <img src={{booster.images[0].src}} />
        </div>
      </ion-slide>
      <ion-card-header>
        <ion-card-title class="funFont">{{booster?.title}}</ion-card-title>
        <div class="padding">
          <span [innerHTML]="sanitizer.bypassSecurityTrustHtml(brothDescriptionHtml[i])"></span>
        </div>
      </ion-card-header>
    </ion-card>
  </div>
  </font>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="addBoosters()" expand="full">Select Booster</ion-button>
  </ion-toolbar>
</ion-footer>