ion-content {
    font-size: 50px;
    --ion-background-color: rgb(253, 249, 241);
}

ion-icon {
    font-size: 200%;
    color:lightblue;
}

ion-back-button {
    --color: #CA2874;
    font-family: "Comic Sans MS";
  }

#continue {
    background-color: #CA2874;
    color: rgb(253, 249, 241);
}

.timeFont {
    font-family: "Comic Sans MS";
    color: lightblue;
    font-size: 25px;
}

.fontSize {
    font-size: 20px;
    font-family: "Comic Sans MS";
}

.size {
    font-size: 15px;
    font-family: "Comic Sans MS";
}

.funFont { 
    font-family: "Comic Sans MS";
    font-size: 25px;
    text-align: center;
}

.padding {
    font-family: "Comic Sans MS";
    padding: 5%;
    font-size: 14px;
}

.buttonPadding {
    font-family: "Comic Sans MS";
    padding-bottom: 10%;
    font-size: 14px;
}

.toolbarLogo{
    position: relative;
    margin: auto;
    margin-left: 3%;
    padding-top: 2%;
  }

.border{
    padding: 3%;
    border-radius: 25px;
    border: solid;
    border-width: 5px;
}

