<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="custom-program-details"></ion-back-button>
    </ion-buttons>
    <div class="toolbarLogo">
      <img src="../../../assets/banner.png" width="250" height="100">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padding" align="center">
    <h2>Day {{counter}} / {{dayNum}}</h2>
  </div>
  <form #form="ngForm" (ngSubmit)="navToCreatePlan()">
    <div>
      <ion-list *ngFor="let entry of entries">
        <ion-item>
          <ion-list-header class="timeFont">{{entry.time}}</ion-list-header>
          <ion-label class="timeFont">{{entry.time}}</ion-label>
          <select name="name" class="size" [(ngModel)]="entry.cleanse">
            <option *ngFor="let juice of usableJuices">{{juice?.title}}</option>
          </select>
        </ion-item>
      </ion-list>
    </div>
    
    <div align="center">
      <input type="reset" id="continue" align="center" class="btn funFont border" value="Continue" (click)="submitDay()">
    </div>
  </form>
</ion-content>