<ion-header>
  <ion-toolbar>
    <ion-title>
      <font face="Comic sans MS">
        Our Juices
      </font>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/store"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card text-center *ngFor="let juice of juices">
    <ion-card-header>
      <font face="Comic sans MS">
        <!-- <ion-card-title>{{juice.name}}</ion-card-title> -->
      </font>
    </ion-card-header>
    <!-- <ion-card-content>
        {{juice.desc}}
    </ion-card-content> -->
  </ion-card>
</ion-content>