ion-content{
  --ion-background-color: #FDFDF1;
}

ion-back-button {
  font-family: "Comic Sans MS";
  --color: #CA2874;
}

ion-card {
  --ion-background-color: white;
}

.whiteClass {
  background: white;
  font-family: "Comic Sans MS";
}

.funFont { 
  font-family: "Comic Sans MS";
}

.padding{
  font-family: "Comic Sans MS";
  padding: 35px;
  background: white;
}

.bodyText{
  font-family: "Comic Sans MS";
  font-size: 24px;
}

.yellow{
  background-color: #FDFDF1;
}

.container {
  position: relative;
  text-align: center;
  margin-bottom: -3px;
}

.container-img {
  opacity: 0.5;
  color: rgba(black, 0.5);
}

.toolbarLogo {
  position: relative;
  margin: auto;
  margin-left: 3%;
  padding-top: 2%;
}

.centered {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
  font-family: "Comic Sans MS";
}

.has-overlay::after {
  content: "";
  display: block;
  position: fixed;
  padding: 1000% 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.5);
}

.crop {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.crop2 {
  width: 100%;
  height: 100%;
  margin: -17% 0 0 0;
}