<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/store"></ion-back-button>
    </ion-buttons>
    <div class="toolbarLogo">
      <img src="../../assets/banner.png" width="250" height="100">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div (click)="navToSurvey(true)">
    <div class="has-overlay"></div>
    <div class="container">
      <img class="container-img"
        src="https://cdn.shopify.com/s/files/1/0053/0061/7314/collections/JUICE_2048x.jpg?v=1544891241" />
      <div class="centered">Liquid Cleanse</div>
    </div>
  </div>
  <div class="container" (click)="presentComingSoon()">
    <img class="container-img"
      src="https://duyt4h9nfnj50.cloudfront.net/resized/3c52d085fbfa428be74d4c25fe0a128a-w2880-bd.jpg" alt="image">
    <div class="centered">Meal Plan</div>
  </div>
</ion-content>