ion-icon {
    font-size: 20px;
}

ion-card {
  background:  rgb(253, 249, 241);
}

ion-content {
  --ion-background-color: rgb(253, 249, 241);
}

ion-back-button {
  font-family: "Comic Sans MS";
  --color: #CA2874;
}

.toolbarLogo {
  position: relative;
  margin: auto;
  margin-left: 3%;
  padding-top: 2%;
}

.crop {
    width: 100%;
    height: 100%;
    overflow: hidden;
 }

.crop img {
  width: 100%;
  height: 100%;
  margin: -30% 0 -25% 0;
}