<ion-header>
  <ion-toolbar>
    <div  align="center">
      <img src="../../assets/banner.png" width="250" height="100">
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="top">
    <ion-card>
        <div class="has-overlay"></div>
      <ion-card-header>
        <ion-card-title class="centered">Click Here to Begin Your Health Journey</ion-card-title>
        <div align="center">
          <p></p>
            <ion-button class="button" size="medium" (click)="skip()">Start</ion-button>
        </div>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>

