<ion-header>
    <ion-toolbar>
      <ion-title>
        <font face="Comic sans MS">
          Our Meal Plans
        </font>
      </ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/store"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>

</ion-content>
