ion-button {
  --background: #CA2874;
}
ion-back-button {
  --color: #CA2874;
  font-family: "Comic Sans MS";
}
ion-content{
  --ion-background-color: rgb(253, 249, 241);
}
.border {
  border: none;
  border-color: black;
  border-width: 1px;
}

.toolbarLogo{
  position: relative;
  margin: auto;
  margin-left: 3%;
  padding-top: 2%;
}

.border-active{
  border-radius: 25px;
  border: solid;
  border-color: lightblue;
  border-width: 5px;
}

.padding {
  font-family: "Comic Sans MS";
  background: white;
  padding: 10%;
}

.funFont {
  font-family: "Comic Sans MS";
}