<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="nourishd-cleanses"></ion-back-button>
    </ion-buttons>
    <div class="toolbarLogo">
      <img src="../../../assets/banner.png" width="250" height="100">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content align="center">
  <ion-card text-center>
    <div class="crop">
      <ion-slide>
        <img src={{cleanse?.images[0].src}} />
      </ion-slide>
    </div>
    <ion-card-header>
      <font class="Comic sans MS">
        <ion-card-title>{{cleanse?.title}}</ion-card-title>
      </font>
    </ion-card-header>
    <ion-card-content>
      <div align="left" class="padding">
        <span [innerHTML]="cleanse?.descriptionHtml"></span>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button (click)="navDetails()" expand="full">Choose This Cleanse</ion-button>
  </ion-toolbar>
</ion-footer>