ion-card {
  background:  rgb(253, 249, 241);
}

ion-content {
  --ion-background-color: rgb(253, 249, 241);
}

 ion-back-button {
  font-family: "Comic Sans MS";
  --color: #CA2874;
}

ion-button {
    font-family: "Comic Sans MS";
    --background: #CA2874;
}

.toolbarLogo {
  position: relative;
  margin: auto;
  margin-left: 3%;
  padding-top: 2%;
}

.solid {
    border-style: solid;
    border-width: 5px;
    border-color: rgb(241, 175, 203);
    font-family: "Comic Sans MS";
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 11px;
}

.padding {
  font-family: "Comic Sans MS";
  padding-left: 2%;
  padding-right: 2%;
  background: rgb(253, 249, 241);
}

.funFont { 
  font-family: "Comic Sans MS";
}

.crop {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.crop img {
  width: 100%;
  height: 100%;
  margin: -30% 0 -25% 0;
}
